@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,100&display=swap');

:root{
    --primary-color: rgb(0, 100, 139);
    --secondary-color: rgb(156, 177, 230);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: Noto Sans;
}

/* HEADER */
header{
    background-image: linear-gradient(var(--primary-color), rgb(0, 75, 105));
    display: flex;
    justify-content: center;
    padding: 1vh;
}

header h1{
    color: whitesmoke;
    font-size: x-large;
}

/* BOTH SECTIONS */
.search-and-forecast{
    display: flex;
    justify-content: space-between;
}

/* SEARCH SECTION */
.search-section{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2%;
}

.search-form{
    border-bottom: 2px solid gray;
    margin: 8px;
    padding-bottom: 8px;
}


input{
    width: 80%;
    height: 5vh;
    margin: 5px 0;
    padding-left: 2px;
    border-radius: 5px;
    max-width: 225px;
}

.btn{
    width: 30%;
    min-width: 100px;
    padding: 15px;
    margin: 5px 0;
    font-size: large;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
}

.recent-item{
    display: flex;
    justify-content: center;
    font-size: larger;
    background-color: var(--primary-color);
    color: whitesmoke;
    border-radius: 5px;
    width: 80%;
    padding: 12px 0;
    margin: 15px auto;
}

/* 5 DAY FORCAST */
.forecast-section{
    display: flex;
    flex-direction: column;
    margin: 3% 1% 1% 1%;
    width: 65%;
}

.five-day-h2{
    margin-left: 1rem;
}

.city-info{
    background-image: linear-gradient(to right, var(--secondary-color), rgb(255, 255, 255));
    margin: 0 2%;
}

.city-info{
    border-radius: 3px;
    padding: 10px 12px 14px 12px;
    margin-bottom: 20px;
}
.city-stats{
    margin-left: 16px;
}

.city-header{
    display: flex;
    align-items:flex-end;
}

/* all children of city header */
.city-header > *{
    margin: 0 7px;
}

.city-date{
    font-size: larger;
    margin-bottom: 3px;
}

.five-day-forecast h2{
    margin-bottom: 8px;
}

.day-blocks{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.day-block{
    text-align: center;
    width: 100%;
    height: 40vh;
    padding: 5px 0;
    margin: 2px 1%;
    border-radius: 9px;
}

.day-block-text{
    font-size: small;
    color: whitesmoke;
}

.color-bad{
    background-image: linear-gradient(rgb(127,131,163), rgb(116, 120, 155));
}

.color-fine{
    background-image: linear-gradient(rgb(147, 176, 226), rgb(130, 158, 208));
}

.color-good{background-image: linear-gradient(rgb(119, 170, 247), rgb(109, 141, 237));}

.color-unusual{background-image: linear-gradient(grey, rgb(114, 114, 119));}

.prompt-cloud{
    opacity: 50%;
    padding: 10vh 0 0 8vw;
    width: 50%;
    margin-left: 19%;
}

.prompt-text{
    color: grey;
    opacity: 85%;
    font-size: larger;
    text-align: center;
}

/* MEDIA QUERY */
@media screen and (max-width: 910px) {
    .search-and-forecast{
        flex-direction: column;
    }

    .search-section{
        width: 90%;
        margin: auto;
    }

    .forecast-section{
        width: 95%;
        margin: auto;
    }
}

@media screen and (max-width: 620px) {
    .city-header{
        flex-direction: column;
        align-items: flex-start;
    }
    div .day-blocks{
        flex-direction: column;
        align-items: center;
    }

    .day-block{
        display: flex;
        max-height: 15vh;
        padding-top: 0;
    }

    .day-container{
        margin: auto 0;
    }

   .day-stats{
    margin: auto 18px;
   }

   .icon{
    position: relative;
    bottom: 3px;
    height: 15vh;
    overflow: hidden;
   }
}